<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<% if user_signed_in? %>

Logged in

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}

    </script>


<% end %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" type="text/javascript"></script>