<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<% if user_signed_in? %>

Logged in

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

  <script type="text/javascript">
  var latitude, longitude;



		function create_place(latitude, longitude) {
			$.ajax({
			  type: "POST",
			  url: "/users/<%=current_user.id.to_s%>/places",
			  dataType: 'json',
			  data: {'latitude': latitude, 'longitude': longitude}
			});	
		}

		function get_city_name(latitude, longitude) {
			var cityname = "Not found"
			$.ajax({
			  type: "GET",
			  url: "/decode",
			  dataType: 'json',
			  data: {'latitude': latitude, 'longitude': longitude},
			  success: function(data) {
			  	$('#infobox_cityname').text(data['city']);
			  },
			  error: function(data) {
			  	console.log("Failed ajax");
			  }
			});
		}

		var map;
		function initMap() {
	  	var infowindow = new google.maps.InfoWindow();

		  map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: -34.397, lng: 150.644},
		    zoom: 8
		  });

		  google.maps.event.addListener(map, "click", function (event) {
		    latitude = event.latLng.lat();
		    longitude = event.latLng.lng();
		    console.log( latitude + ', ' + longitude );

		    var contentString = '<div id="content">'+
		      '<div id="siteNotice">'+
		      '</div>'+
		      '<h1 id="infobox_cityname" class="firstHeading">Loading city...</h1>'+
		      '<div id="bodyContent">'+
		      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
		      'sandstone rock </p>'+
		      '<input id="add_city" type="button" value="Add"' +
		      'onclick="create_place(\''+latitude+'\',\''+longitude+'\');"/>'+
		      '</div>'+
		      '</div>';

  	  	get_city_name(latitude, longitude);
		    infowindow.setContent(contentString);
		    infowindow.setPosition({lat: latitude, lng: longitude});

		    infowindow.open(map);
				// create_place(latitude, longitude);
				// marker.setMap(null);
			}); //end addListener
		}

    </script>


<% end %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" type="text/javascript"></script>